
<div class="container text-center col-8 bg-transparent pt-5 pb-5">
  <h1>Lists</h1>
  <ul class="list-unstyled p-2">
    <% @lists.each do |list| %>
    <li class="p-1"><p><strong><%= link_to list.name, list, class: "btn btn-primary my-2 py-2" %></strong></li>
    <% end %>
  </ul>
  <ul class="list-unstyled p-2">
    <li><%= link_to "Create movie list", new_list_path, class: "btn btn-secondary my-2 py-2"  %></li>

    <li><%= link_to "Back to Main Menu", root_path, class: "btn btn-dark my-2 py-2"  %></li>
  </ul>
</div>
