<div class="container text-center col-8 bg-light py-4">
  <%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.submit "Create film list", class: "btn btn-primary" %>
  <% end %>
</div>
