<div class="container text-center col-8 bg-light py-4">
  <h1>Welcome to the Movie List Creator</h1>
  <p>What would you like to do next?</p>
  <ul class="list-unstyled p-2">
    <li><%=  link_to "See all movies", movies_path%></li>

    <li><%=  link_to "See my lists", lists_path%></li>
  </ul>
</div>
