<div class="container text-center col-8 bg-transparent pt-5 pb-5">
  <h1>Movies</h1>
  <ul class="list-unstyled p-2">
    <% @movies.each do |movie| %>
    <li class="p-1"><strong><%= link_to movie.title, movie_path(movie), class: "btn btn-primary" %></strong></li>
    <% end %>
  </ul>
  <%= link_to "Back to Main Menu", root_path, class: "btn btn-secondary my-2 py-2" %>
</div>
