<div class="container text-center col-8 bg-light">
  <h2><%= @movie.title %></h2>
  <img src="<%= @movie.poster_url %>" alt="Poster" width="300">
  <p><%= @movie.overview %></p>
    <ul class="list-group">
      <li><%= link_to "Back to all Movies", movies_path, class: "btn-secondary p-2 rounded"%></li>
    </ul>
</div>
